NODE_ENV=development

FILE_POSTGRES_HOST=
FILE_POSTGRES_PORT=
FILE_POSTGRES_USER=
FILE_POSTGRES_PASSWORD=
FILE_POSTGRES_DB=
FILE_POSTGRES_SCHEMA=

FILE_REDIS_HOST=
FILE_REDIS_PORT=
FILE_REDIS_PASSWORD=

NOTIFICATION_POSTGRES_HOST=
NOTIFICATION_POSTGRES_PORT=
NOTIFICATION_POSTGRES_USER=
NOTIFICATION_POSTGRES_PASSWORD=
NOTIFICATION_POSTGRES_DB=
NOTIFICATION_POSTGRES_SCHEMA=

NOTIFICATION_REDIS_HOST=
NOTIFICATION_REDIS_PORT=
NOTIFICATION_REDIS_PASSWORD=