# =========================================
# Dependencies
# =========================================
node_modules/

# =========================================
# Build Output
# =========================================
dist/
build/
coverage/

# NestJS monorepo cache
*.tsbuildinfo

# =========================================
# Environment
# =========================================
.env
.env.*
!.env.example

# =========================================
# Logs
# =========================================
logs/
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# =========================================
# Runtime
# =========================================
pids/
*.pid
*.seed
*.pid.lock

# =========================================
# Temp
# =========================================
.temp/
.tmp/
tmp/

# =========================================
# OS
# =========================================
.DS_Store
Thumbs.db

# =========================================
# IDE
# =========================================
.idea/

.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
!.vscode/tasks.json
!.vscode/launch.json

# =========================================
# Test
# =========================================
.nyc_output/

# =========================================
# Upload / Storage
# =========================================
uploads/
# storage/
editors/
thumbs/

# local file storage
local-storage/

# =========================================
# Firebase / Secret Keys
# =========================================
firebase-admin.json
*.pem
*.key

# =========================================
# Docker
# =========================================
docker-data/
postgres-data/
redis-data/

# =========================================
# Misc
# =========================================
src.zip